body{
    background-color: #eee8df;
}

#app{
    display: flex;
    flex-direction: column;
    width: 97vw;
    height: 97vh;
    justify-content: center;
    align-items: center;
}

#myChart{
    width: 30vw!important;
    height: 30vw!important;
}

#pieChartsContainer{
    display: flex;
    flex-direction: row;
}

#popularity{
    display: flex;
    flex-direction: column;
    align-items: center;
}